*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

h1, h2, h3 {
  color: green;
}

span {
  color: red;
  font-size: 14px;
}

/* Home */

.background-image {
  background-image: url(https://images.pexels.com/photos/207732/pexels-photo-207732.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}

.home-text {
  background-color: azure;
  opacity: 80%;
  position: absolute;
  top: 10px;
  left: 0;
  max-width: 1000px;
  padding: 5rem;
  margin: 12rem;
  text-align: center;
  border-radius: 10px;
}

/* End Homepage */

/* LoginForm */

.form-login {
  margin: 5rem 0 0 25rem;
  max-width: 500px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

input::placeholder {
  font-size: 12px;
  font-style: italic;
}

button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  margin: 10px 0;
}


/* End Login Form  */